// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #25854d;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menubar {
	position: relative;
	height: 90px;
	width: 100px;
	cursor: pointer;
	
	.one,
	.two,
	.three {
		position: absolute;
		top:0;
		height: 10px;
		width: 100%;
		background: #fff;
		border-radius: 5px;
		box-shadow: 3px 3px 3px black;
		
		.two {
			top: 30px;
		}
		.three {
			top: 30px;
		}
		transition-duration: 0.3s;
	}
}

.menubar:active {
	.one,
	.two,
	.three{
		box-shadow:none;
		
		.one {
			animate-one-rev
      .7s ease-in-out;
		}
		.two {
			animate-two-rev .7s ease-in-out;
		}
		.three {
			animate-three-rev .7s ease-in-out
		}
	}
}

@keyframes animate-one-rev {
0% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
