
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    background: #43389F;
    background: -webkit-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);
    background: -moz-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);
    background: -o-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);
    background: linear-gradient(to top right, #43389F 0%, #4ec6ca 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43389F', endColorstr='#4ec6ca',GradientType=1 ); 
    font-family: 'Courier New', 'Courier', sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .center {
    position: absolute;
    top: 50.8%;
    left: 50.5%;
    transform: translate(-50%,-50%);
  }
  
  .number {
    position: relative;
    left: 50px;
    height: 100px;
    width: 200px;

    .four-one {
        position: absolute;
        z-index: 1;
        top: 0;
        left: -18px;
        height: 60px;
        width: 18px;
        background: #fff;
        border-radius: 3px;
        transform: rotate(40deg);
        box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }
    .four-two {
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 0.7px;
        height: 90px;
        width: 18px;
        background: #fff;
        border-radius: 3px;
        transform: rotate(90deg);
        box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }

    .four-three {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 3px;
      height: 100px;
      width: 24px;
      background: #fff;
      border-radius: 3px;
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }
  
    .seven-one {
        position: absolute;
        z-index: 10;
        top: 2.3%;
        left: 90px;
        height: 90px;
        width: 24px;
        background: #fff;
        border-radius: 3px;
        transform: skewY( -20deg ) rotate(20deg);
        box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }

    .seven-two {
        position: absolute;
        z-index: 2;
        top: -21%;
        left: 80px;
        height: 60px;
        width: 18px;
        background: #fff;
        border-radius: 3px;
        transform: rotate(90deg);
        box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }
}
  
  .big {
    position: relative;
    z-index: 20;
    display: block;
    font-size: 82px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 6px;
  }
  
  .small {
    position: relative;
    z-index: 20;
    display: block; 
    font-size: 23px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .04em;
  }